<h3>You have, $<%= session[:pot]%> available to bet.</h3>

<h3>How much do you want to bet?</h3>

<% if @outcome_lose %>
  <div class="alert alert-error">
    <%= @outcome_lose %>
  </div>
<% end %>

<form action="/game" method="post">
  <input type="text" name="bet" placeholder="Bet Amount" />
  <br/>
  <input type="submit" value="Place Bet" class="btn btn-info"/>
</form>